<div class="card" *ngIf="match">
  <div class="card-header">
    <match-score-card [match]="match"></match-score-card>
    <div class="btn btn-success w-100" (click)="editMatch()">Edit</div>
  </div>
  <div class="card-body p-0">
      <ul class="list-group list-group-flush p-0">
          <li class="list-group-item border-bottom border-info p-0">
              <div class="card">
                <div class="card-header">
                  {{teamA.fullName}}
                </div>
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush p-0">
                    <li class="list-group-item text-muted border-bottom border-danger" style="border-bottom-width: 2px !important">
                      <div class="row no-gutters">
                        <div class="col-4 text-left">Batsman name</div>
                        <div class="col-3 text-center"></div>
                        <div class="col-1 text-center">4s</div>
                        <div class="col-1 text-center">6s</div>
                        <div class="col-3 text-right">runs/balls</div>
                      </div>
                    </li>
                    <li class="list-group-item" *ngFor="let player of teamAplayers">
                      <div class="row no-gutters">
                        <div class="col-4 text-left">{{player.name}}</div>
                        <div class="col-3 text-center">{{player.outOrNot}}</div>
                        <div class="col-1 text-center">{{player.fours}}</div>
                        <div class="col-1 text-center">{{player.sixes}}</div>
                        <div class="col-3 text-right">{{player.runsScored +" (" + player.ballsFaced + ")" }}</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="card-footer text-muted">
                  total score
                </div>
              </div>
          </li>
          <li class="list-group-item p-0">
            <div class="card">
              <div class="card-header">
                {{teamB.fullName}}
              </div>
              <div class="card-body p-0">
                  <ul class="list-group list-group-flush p-0">
                    <li class="list-group-item text- border-bottom border-danger"  style="border-bottom-width: 2px !important">
                      <div class="row no-gutters">
                        <div class="col-4 text-left">Bowler name</div>
                        <div class="col-2 text-center">Overs</div>
                        <div class="col-2 text-center">Maiden</div>
                        <div class="col-1 text-center">Wkt</div>
                        <div class="col-1 text-right">Runs</div>
                        <div class="col-2 text-right">Eco.Rate</div>
                      </div>
                    </li>
                    <li class="list-group-item" *ngFor="let player of teamBplayers">
                        <div class="row no-gutters">
                          <div class="col-4 text-left">{{player.name}}</div>
                          <div class="col-2 text-center">{{player.overs}}</div>
                          <div class="col-2 text-center">{{player.maidens}}</div>
                          <div class="col-1 text-center">{{player.wickets}}</div>
                          <div class="col-1 text-right">{{player.runsConcided}}</div>
                          <div class="col-2 text-right">{{player.runsConcided/player.overs}}</div>
                        </div>
                    </li>
                  </ul>
              </div>
            </div>
          </li>
      </ul>
  </div>
</div>