<!-- <h4 class="card-title">Title</h4>
<p class="card-text">Text</p> -->
<div class="card">
        <div class="card-body">
<div class="row">
    <div class="col"></div>
    <div class="col">
        <button type="button" class="btn btn-primary" routerLink="/create_match" routerLinkActive="active">Create New Match</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-warning" (click)="refresh()">Refresh</button>
    </div>
    <div class="col">
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="card-body">
        <ul class="nav nav-pills nav-fill"><!-- nav-fill-->
            <li class="nav-item">
                <a id="tab-1-tab" data-toggle="pill" href="#tab-1" class="nav-link active">Live</a>
            </li>
            <li class="nav-item">
                <a id="tab-2-tab" data-toggle="pill" href="#tab-2" class="nav-link">Fixtures</a>
            </li>
            <li class="nav-item">
                <a id="tab-3-tab" data-toggle="pill" href="#tab-3" class="nav-link">Results</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" >
                <div *ngIf="onGoingMatches && onGoingMatches.length > 0; else noContent">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let match of onGoingMatches">
                             <match-score-card [match]="match" (click)="scoreCardClicked(match)"></match-score-card>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-2" role="tabpanel" >
                <div *ngIf="upComingMatches && upComingMatches.length > 0; else noContent">
                    <div class="list-group">
                        <a href="#" class="list-group-item" *ngFor="let match of upComingMatches">
                            <match-score-card [match]="match" (click)="scoreCardClicked(match)"></match-score-card>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-3" role="tabpanel" >
                <div *ngIf="finishedMatches && finishedMatches.length > 0; else noContent" class="scroll-a">
                    <div class="list-group">
                        <a href="#" class="list-group-item" *ngFor="let match of finishedMatches">
                            <match-score-card [match]="match" (click)="scoreCardClicked(match)"></match-score-card>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noContent>
    <div class="card">
        <div class="card-body">
            No matches to display
        </div>
    </div>
</ng-template>
    